.dataset,
.dataset-card {
    width: 95%;
    margin: 0 auto;
    overflow-x: auto;
    margin-bottom: 15px;
    padding:20px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    border: 1px solid #000;
    box-shadow: 0 0 7px #000;
}

.dataset-card {
    width: 100%;
    border: none;
    box-shadow: none;
}

.header {
    margin-top: 25px;
    margin-right: 20px;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
}

.dataset__title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    /* font-style: italic; */
    margin-bottom: 10px;
    margin-top: 50px;
}

.dataset__subtitle {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 45px;
}

.obj__name,
.obj__address,
.guard__num {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 10px;
}

.guard__num {
    margin-bottom: 25px;
}

.subscribe {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.subscribe__item {
    width: 40%;
    height: 60px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #000;
}

.salary__branch,
.salary__chart {
    font-size: 10px;
    font-weight: 300;
    color: rgb(200, 128, 39);
    text-align: left;
}
.salary__chart {
    margin-bottom: -5px;
}

.dataset__table,
.dataset__table-card {
    width: 99%;
    margin-top: 20px;

    font-size: 12px;
    text-align: center;

    border: 1px solid #63b7ddb7;
    border-collapse: collapse;

    box-shadow: 0 0 7px #63b7ddb7;
}

.dataset__table th,
.dataset__table-card th {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
    border: 1px solid #63b7ddb7;
}

.dataset__table th,
.dataset__table-card th,
.dataset__table td,
.dataset__table-card td {
    max-width: 250px;
	padding: 5px;
}

.dataset__table td,
.dataset__table-card td {
    font-size: 12px;
    border-bottom: 1px solid #63b7ddb7;
}

.dataset__table tr,
.dataset__table-card tr {
    cursor: pointer;
}

.dataset__table tr:hover {
    background-color: aqua;
}


.del__btn,
.edit__btn {
    padding: 2px 4px;
    border: none;
    font-size: 12px;
    font-weight: 500;
    background-color: #f3f707;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
}

.del__btn:hover {
    font-weight: 600;
    color: #fff;
    background-color: #f71707;
    box-shadow: 0 0 5px #f71707;
}

.edit__btn {
    color: #fff;
    background-color: #adacac;
}

.edit__btn:hover {
    /* color: #fff; */
    background-color: #7c7979;
}

.estimate td {
    padding-left: 10px;
    text-align: left;
}

.estimate__total  td {
    font-weight: 700;
}

#key_id {
    display: none;
}